{
	admin off
}

(default) {
	encode zstd gzip

	log {
		output stdout
		format console
	}
}

(default_proxy_config) {
	header_up X-Real-IP {http.request.remote.host}
}

(litellm_proxy) {
	route /openai/v1/* {
		uri strip_prefix /openai
		reverse_proxy http://litellm:4000 {
			header_up Authorization "Bearer {$LITELLM_MASTER_KEY}"
			header_up X-OpenWebUI-User-Email "{http.request.header.X-Token-User-Email}"
		}
	}
}

http://litellm.{$FQDN} :3000 {
	import default

	reverse_proxy http://litellm:4000 {
		import default_proxy_config
		header_up Authorization "Bearer {$LITELLM_MASTER_KEY}"
	}
}

http://anything.{$FQDN} :3001 {
	import default

	handle_path /sso/ {
		reverse_proxy http://anythingllm-auth:5000 {
			import default_proxy_config
		}
	}

	reverse_proxy http://anythingllm:3001 {
		import default_proxy_config
	}
}

http://webui.{$FQDN} :3002 {
	import default

	reverse_proxy http://open-webui:8080 {
		import default_proxy_config
	}
}

http://chat.{$FQDN} :3003 {
	import default
	import litellm_proxy

	reverse_proxy http://ollama-webui:8080 {
		import default_proxy_config
	}
}
