{
	admin off
}

(default) {
	encode zstd gzip

	log {
		output stdout
		format console
	}
}

(default_proxy_config) {
	header_up X-Real-IP {http.request.remote.host}
}

(openai_proxy) {
	route /openai/v1/* {
		uri strip_prefix /openai
		reverse_proxy https://api.openai.com {
			header_up Host api.openai.com
			header_up Authorization "Bearer {$OPENAI_API_KEY}"
		}
	}
}

(litellm_proxy) {
	route /openai/v1/* {
		uri strip_prefix /openai
		reverse_proxy http://litellm:4000 {
			header_up Authorization "Bearer {http.request.header.X-Token-User-Email}"
		}
	}
}

http://litellm.{$FQDN} {
	import default

	reverse_proxy http://litellm:4000 {
		import default_proxy_config
	}
}

http://chat.{$FQDN} :80 {
	import default
	import litellm_proxy

	reverse_proxy http://ollama-webui-local:8080 {
		import default_proxy_config
	}
}

http://webui.{$FQDN} {
	import default

	reverse_proxy http://open-webui:8080 {
		import default_proxy_config
	}
}

http://nextchat.{$FQDN} {
	import default
	import litellm_proxy

	reverse_proxy http://nextchat:3000 {
		import default_proxy_config
	}
}

http://yakgpt.{$FQDN} {
	import default

	reverse_proxy http://yakgpt:3000 {
		import default_proxy_config
	}
}
